.login-card {
    max-width: 400px;
    margin: auto;
    top: 30px;
    position: relative;
}

.form-login{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://icon-library.net/images/customer-login-icon/customer-login-icon-27.jpg');
    background-size: cover;
  }