  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayoutAlign="space-between center" fxLayoutAlign.xs="center center">
      <span class="logo">Tasks</span>
      <nav>
        <button *ngIf="!isLoggdIn()" mat-button color="white" routerLink="/login" routerLinkActive="active">Login</button>
        <button *ngIf="isLoggdIn()" mat-button color="white" routerLink="/home" routerLinkActive="active">Home</button>
        <button *ngIf="isLoggdIn()" mat-button color="white" routerLink="/contact" routerLinkActive="active">Contact</button>
        <button *ngIf="isLoggdIn()" mat-button color="white" routerLink="/about-us" routerLinkActive="active">About us</button>
        <button *ngIf="isLoggdIn()" mat-button color="white" (click)="logout()">Logout</button>
      </nav>
    </mat-toolbar-row>
  </mat-toolbar>